<div class='card'>    
    <nav class="navbar navbar-dark bg-dark">
        <span class="navbar-brand mb-0 h1">{{pageTitle}}    
            <span class='navbar-text'>      Filter by:
                <input type='text' [(ngModel)]="filter" ng-change="filterRules()"/>
            </span>
        </span>
    </nav>
    <div class="card-body">
        <div class='row'>

        </div>
        <div class='row'>
            <h4>Filtered by: {{filter}}</h4>
        </div>
        <div class='table-responsive'>
            <table class='table' *ngIf='rules && rules.length'>
                <thead>
                    <tr>
                        <th>Rule Name</th>
                        <th>Rule Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let rule of filteredRules">
                        <td>Birl Rule #{{rule.ruleId}}</td>
                        <td>{{rule.ruleDescription}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>